html, body, .ring, .img {
    width:100%;
    height: 100%;
    transform-style: preserve-3d;
  }

body{
  display: flex;
}

html, body{
    overflow:hidden;
    background: radial-gradient(circle, rgba(233,233,233,1) 0%, rgba(148,187,233,1) 100%);
    margin: 0;
  }
  
  div{
    position: absolute;
  }
  
  .container {
    perspective: 3000px;
    width: 20%;
    height: 40%;  
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }

  .img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  #text_img{
    padding: 2%;
    opacity: 0;
    width: 30%;
    height: 40%;
    border: 2px solid rgb(11, 11, 172);
    background: rgba(0, 183, 255, 0.1);
    border-radius: 10px;
    left: 8%;
    align-self: center;
  }

  #footerId{
    /* width: 100%;
    height: 10%;
    background-color: antiquewhite; */
  }