{% extends "base.html" %}
{% load static %}


{% block content %}
<div id="arrow" onclick="mainRing()">
  <div class="arrow_left"></div>   
</div>

<div class="container">
  <!-- <div class="ring"> -->
    {%for i in img%}
    <div class="small_cont">
      <div class="light"></div>
      <div class="img" style="background-image: url(/{{i.photo}});" onclick="description()" ></div>
      <div class="sign">{{i.name}} </div>
    </div>
      
    {% endfor %}
    
  <!-- </div> -->
</div>
<!-- <div id="text_img" >
    <h3></h3>
    <div></div>
    
</div> -->
{% endblock content %}